<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in to your account</title>
    <link rel="shortcut icon" href="pictures/logo_ico.ico" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login-signup.css">
</head>

<body>
    <div class="row main">
        <div class="col-md-4 left right bg-dark">
            <div class="container">
                <a href="/">
                    <h4 class="mt-2 ml-2 font-weight-light"><span class="text-success">news</span><span
                            class="text-light">Crunch</span></h4>
                </a>
                <div class="row text-white mt-5">
                    <div class="col-8 offset-2">
                        <form action="/login" method="POST">
                            <h5 class="font-weight-light">Log in</h5>
                            <input type="email" class="form-control bg-dark mt-3 text-light" name="email"
                                placeholder="Enter your email" id="email" required>
                            <input type="password" class="form-control bg-dark mt-3 text-light" name="password"
                                placeholder="Enter a password" id="password" required>
                            <button class="btn btn-sm btn-success mt-3" type="submit">Log in</button>

                        </form>
                        <p class="mt-2">New user? <a href="/signup" class="text-success">Register</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 right">
            {{#if loginError}}
            <div class="alert alert-warning mt-3 ml-2 w-50 alert-dismissible fade show" role="alert">
                <strong>Oops!</strong> Incorrect email or password.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            {{#if signedUp}}
            <div class="alert alert-success mt-3 ml-2 w-50 alert-dismissible fade show" role="alert">
                <strong>Registered!</strong> Log in now.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="//geodata.solutions/includes/countrystatecity.js"></script>

</html>